body {
    background-image: radial-gradient(circle, #308834, #1A4A1C);
    min-width: 600px;
}

h1 {
    font-size: 80px !important;
}

.vertical-center {
    min-height: 100%;
    /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;
    /* These two lines are counted as one :-)       */
    display: flex;
    align-items: center;
}

.page-header {
    text-align: center;
    font-family: 'Vast Shadow', cursive !important;
}

.card-image {
    text-align: center;
}

.image {
    max-width: 226;
    max-height: 314;
    height: auto;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

.oldCardLabel {}

.newCardLabel {
    margin-left: 210px;
}

.oldCardImage {}

.newCardImage {
    margin-left: 50px;
}

.newGameButton {
    margin-bottom: 10px;
    margin-top: 20px;
    width: 100px;
    height: 40px;
}

.higherButton {
    margin-left: 10px;
    margin-top: 20px;
    width: 80px;
    height: 40px;
    display: none;
}

.lowerButton {
    margin-top: 20px;
    width: 80px;
    height: 40px;
    display: none;
}

.highScores {
    margin: 0 auto;
}